
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', serif; 
}
/*generales */

h1, h2, h3, h4 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}


p {
  text-align: center;
  font-size: 12px;
}


/*fin de generales */

/*--header--*/

header {margin: 10px;}

.logo{
    margin-top: 15px;
    margin-left: 25px;
    padding: 20px;
}

.header-nav {
    font-weight: bold;
    font-size: 14px;
    margin-top: 15px;
    padding: 20px;
    display: inline-block;
    position: absolute;
    right: 100px; 
}

.header-nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}


.header-nav li {
  margin: 0;
  padding: 5px;
  display: inline-block;
}

.heade-nav a {
  text-decoration: none;
}

.header-nav a:link {
    color: #000;
    text-decoration: none;
}

.header-nav a:visited {
    color:#5F5F5F;
    text-decoration: none;
}

.header-nav a:hover {
    color: #CCC;
    text-decoration: none;
}

.header-nav a:active {
    color: #000;
    text-decoration: none;
}

/*--fin header--*/

/*--slider--*/

.slider {
  /*siempre que tiene que estar*/
  width: 100%;
  height: 500px;
  background: transparent url("../img/indexbanner-bg3.jpg") no-repeat;
  background-size: cover; 
  }

.slider-info {
  position: absolute;
  left: 100px;
  top: 260px;
  
}
.slider-info h1{
  color:#FFF;
  font-size:45px;
  font-weight: 400;
  text-align: left;
  margin: 0px;

}

.slider-info p {
  color:#FFF;
  font-size: 16px;
  text-align: left;
  font-weight: 400;
 }
/*--fin slider--*/

/*--boton search--*/

.search-aside { 
  position: relative;
  bottom: 50px;
 }

.search-aside form{
  width: 80%;
  margin: 0px auto;
}

.search-aside input[type=text] { 
    width: 90%;
    height: 100px;
    padding: 20px;
    border-radius: 1px;
    font-size: 16px;
    border: 1px solid rgb(204, 204, 204);
    box-sizing: border-box;
    -webkit-box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.18);
    box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.18);
}



.search-aside button {
    width: 10%;
    height: 100px;
    background: #00ADF0 none repeat scroll 0% 0%;
    color: #FFF;
    border: 0px none;
    box-sizing: border-box;
    font-size: 16px;
    text-transform: uppercase;
    font-family: "Open Sans",sans-serif;
    font-weight: 800;
    position: absolute;
    top: 0px; 
}

.search-aside span {margin: 5px;}

/*--fin boton search--*/

/* circulo con informacion */

.info-services {
   display: flex;
   flex-direction: row;
   font-family: 'Raleway', sans-serif;
   text-align: center;
   position: relative;
   z-index:-2;
   margin-top: 50px;

}

.info-services  section {
  align-self:  center;
}

.info-services h3 {font-size: 15px;}

.info-services img {margin-left:10px;}

.info-services p {padding: 10px; font-size: 15px;}

/*fin de circulo informacion*/

/*iphone section */

.header-mobile {margin-bottom: 164px;}

.header-mobile h1 {
    font-size:40px;
    font-weight: 600; 
 }

.header-mobile p{
   text-align: center;
   font-size: 16px;
   font-family: 'Raleway', serif;
   font-weight: 100;
}

  
.container{
  display: flex;
  flex-direction: row;
  font-family: 'Raleway', sans-serif;
  margin-left: 150px;
}

.elementizq section {
   align-self: center;
   position: relative;
   padding-right: 100px;
}

.elementizq img {
    position: absolute;
    right: 0px;
    bottom: 40px;

  }

.elementizq h4 {
    font-size: 16px;
    text-align: right;
}

.elementizq p {
  font-size: 14px;
  font-weight: 500;
  text-align: right;
}


.elementcenter {
  align-self: center;
  margin: -50px 61px;
}

.elementder section {
  align-self: center;
  position: relative;
  padding-left: 100px;
}

.elementder img {
    position: absolute;
    left: 0px;
    bottom: 40px;

  }

.elementder h4 {
    font-size: 16px;
    text-align: left;
}

.elementder p {
  font-size: 14px;
  font-weight: 500;
  text-align: left;
}

/*fin iphone section */

 /* valor price*/

.head-price {
  width: 100%;
  height: 300px;
  background: transparent url("../img/pricing-bg.jpg") no-repeat;
  background-size: cover;
  padding-top: 45px;
  margin-top: 9px;
}

.valor-price h1{
   font-size: 40px;
}

.head-price p { font-size: 18px; }


.container-table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: -61px 0px;
  padding-bottom: 67px;
    
}
 

.container-table section {
    width: 20%;
    margin:0px;
    padding-top: 45px;
    text-align: left;
    text-decoration: none;
    position: relative;
    background-color: #FFF;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.26);
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.26);    
}

/*antes de la table */

.container-table section h3 {
    font-size: 14px;
    letter-spacing: 3px;
}

.container-table section sup{font-size: 25px;}

.price {
      margin: 0px;
      padding-top: 20px;
      font-size:60px;
    }


.price-down {
      margin:0px;
      font-size: 15px;
 }


/* ----- fin del antes ----- */

.container-table section table {
  width: 90%;
  margin: 40px 15px 21px;
  padding: 20px 15px;
  font-family: "Railway",sans-serif;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.5); 
}

.smallpack .valor {
    color:#A3DEF1;
    padding-right: 32px; 
    text-align: center;
    font-size: 16px;     
  }

.normalpack .valor{
   color:#F9D846; 
   padding-right: 32px; 
   text-align: center;
   font-size: 16px;
}

.bigpack .valor{
  color:#FFA678; 
  padding-right: 32px; 
  text-align: center;
  font-size: 16px;
}

.bestpack .valor{
  color:#FB8C5B; 
  padding-right: 32px; 
  text-align: center;
  font-size: 16px;
}

.container-table button {
    background: #00ADF0 none repeat;
    width: 85%;
    height: 46px;
    margin: 20px;
    padding: 10px;
    font-family: "Open Sans",sans-serif;;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFF;
    border: 0px none;
    border-radius: 5px;
    letter-spacing: 3px;
}

/*fin valor */

/*anuncio */

#prome {

  background-color:#212F3E;
  padding-bottom: 30px;
  margin-top: 200px;
}

#prome p {
  color:#FFF;
  font-size: 35px;
  font-family: 'Open Sans', sans-serif;
  padding-top: 75dpx;
}


#prome p span {
  color:#0D82B7;
   margin: 0px 20px;
 }

/*fin de anuncio */

/* footer */

footer {
  background-color:#151D26;
  margin: 0px;
  position: relative;
  padding: 75px;
}

footer p {
  color:#FFF;
  position: absolute;
  left:93px;
  top:50px;
}



footer nav {
  color:#FFF;
  text-decoration: none;
  position: absolute;
  right: 140px;
  top: 55px;
}

footer nav ul{
    margin: 0px;
    padding: 0px;
   list-style-type: none;
   text-align: center;
   font-family: 'Open Sans', sans-serif;
  font-weight: bold;

} 



footer nav li {
  display: inline-block;
  padding: 5px;
  margin: 0px;
}



footer nav a:link {
    color: #FFF;
    text-decoration: none;
}

footer nav a:visited {
    color:#FFF;
    text-decoration: none;
}

footer nav a:hover {
    color: #CCC;
    text-decoration: none;
}

footer nav a:active {
    color: #FFF;
    text-decoration: none;
}

/*fin de promo antes de footer */